# env / secrets
.env
.env.*
!.env.example
**/application-local.yml
**/application-local.properties
**/application-secret.yml
**/application-secret.properties
*.pem
*.p12
*.jks

# build / deps
node_modules/
dist/
target/
coverage/
.angular/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# logs
*.log
